.home .page-title h1{
    font-size: 4rem;
}

.home .slogan {
    position: relative;
    text-align: center;
    display: flex;
    z-index: -1;
}

.home .slogan img {
    opacity: 0.3;
    max-height: 30rem;
    width: 100%;
}

.home .slogan h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-search {
    background-color: green;
    padding: 30px;
    width: 90%;
    margin: auto;
    margin-top: -100px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.book-search .btn-success {
    background-color: var(--theme-dark-blue);
    border-color: var(--theme-dark-blue);
    margin-right: 15px;
}

.book-search .search-fields {
    display: flex;
    width: 100%;
}

.book-search form {
    width: 100%;
}

.home .multiselect {
    display: inline-block !important;
    width: 40% !important;
    margin: 15px;
}