#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 90px;
  }

:root {
    --theme-dark-blue: #00203FFF;
    --theme-green: green;
    --theme-light-green:#ADEFD1FF;
}
#main-navbar {
    background-color: var(--theme-dark-blue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.thumbnail-logo {
    max-width: 50px;
    max-height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: green;
}

.btn-success {
    background-color: green;
    border-color: green;
    margin-right: 15px;
}

#navbar-partage {
    margin-left: 5%;
}

.navbar-toggler {
    background-color: green;
}

.container {
    max-width: 90%;
}

.bg-primary {
    background-color: var(--theme-dark-blue) !important;
}

.bg-secondary {
    background-color: var(--theme-green) !important;
}

.bg-white {
    background-color: white !important;
}

.input-group .form-control:not(:first-child) {
    padding-left: 5px;
}

.base-switch-label {
    padding-left: 10px;
}

.pt-lg-md, .py-lg-md {
    padding-top: 0rem !important;
}